* {
    padding : 0;
    margin : 0;
}
html {
	min-width: 1400px;
	min-height: 600px;
}

body {
    background : white;
    color : black;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
}

	header img {
		vertical-align: bottom;
	}
	
#logo {
		background-color: #268B44;
		width: 100%;
	}
	
footer {
    width: 100%;
    height: 15px;
    clear: both;
    background-color: #268B44;
    font: normal bold 12px arial;
    color: #E7E5E5;
    text-decoration: none;
    display: block;
    padding: 6px 0px;
    margin: 0px;
    text-shadow: 2px 2px 3px #000000;
    position: relative;
    vertical-align: bottom;
}

	footer div {
		padding-left: 20px;
	}
	
form {
	position: relative;
}

article {
    width: 80%;
    min-height: 521px;
    float: right;
    padding: 0px 10px 0px 10px;
}

h1 {
    font-family: arial, helvetica, sans-serif;
    color: #268B44;
    margin-top: 130px;
    text-align: center;
    padding: 0px 0px 0px 6px;
}


nav {
	background: #268B44;
	width: 100%;
}
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
	
nav ul {
	padding: 0 20px;
	list-style: none;
	position: relative;
	display: inline-block;
	white-space: nowrap;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
	
nav ul li {
	display: inline-block;
	font-family: arial;
	font-size: 16pt;
	
}

	nav ul li:hover {
		background: #03601F;
		background: linear-gradient(top, #03601F 0%, #2B8346 100%);
		background: -moz-linear-gradient(top, #03601F 0%, #2B8346 100%);
		background: -webkit-linear-gradient(top, #03601F 0%, #2B8346 100%);
}

		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block; 
		padding: 20px 20px;
		color: #EFEFEF; 
		text-decoration: none;
	}
	
nav ul ul {
	height 50px;
	background: #2B8346; 
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #03601F;
		position: relative;
		display: list-item;
	}
		nav ul ul li a {
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #268B44;
			}

#tfheader{
		
}
	
#tfnewsearch{
	margin-top: 0;
}
	
.tftextinput{
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	border:3px inset #51B970; 
	border-right: 0;
	opacity: .7;
}
	
.tfbutton {
	padding: 5px 15px;
	font-weight: bold;
   font-family: arial;
   font-style: normal;
   font-size: 12px;
   text-shadow: 2px 2px 3px #000000;
   color: #E7E5E5;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border:3px inset #51B970;
	border-left: 0;
	background: linear-gradient(top, #268B44 0%, #51B970 99%);  
	background: -moz-linear-gradient(top, #268B44 0%, #51B970 99%); 
	background: -webkit-linear-gradient(top, #268B44 0%, #51B970 199%);
}
	
.tfbutton:hover {
	text-decoration: none;
}
	
/*/ fixes submit button height in firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
	
.tfclear{
	clear:both;
}








