* {
    padding : 0;
    margin : 0;
}

body {
    background : white;
    color : black;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

header {
	width: 100%
	position: fixed;
	top: 0;
	z-index: 1;
	}

footer {
    width: 95%;
    height: 15px;
    clear: both;
    background-color: #268B44;
    font: normal bold 12px arial;
    color: #E7E5E5;
    text-decoration: none;
    display: block;
    padding: 6px 20px 6px 20px;
    margin: 0px 0px 2px 2px;
    border-radius: 15px 15px 15px 15px;
    text-shadow: 2px 2px 3px #000000;
    position: relative;
    bottom: 0px;
}

nav {
    background-color: #268B44;
    margin: 0px 0px 0px 4px; 
    padding: 6px 6px 4px 6px;  
    line-height: 100%; 
    border-radius: 24px; 
    -webkit-border-radius: 24px; 
    -moz-border-radius: 24px;
    box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    background: #268B44;
    border: solid 1px #268B44;
    float:left;
}



nav a {
    font-weight: bold;
    font-family: arial;
    font-style: normal;
    font-size: 12px;
    color: #E7E5E5;
    text-decoration: none;
    display: block;
    padding: 6px 20px 6px 20px;
    margin: 0;
    margin-bottom: 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-shadow: 2px 2px 3px #000000;
}

nav li {
	list-style: none;
}

nav li .active a; nav li:hover > a {
	list-style: none;
	background: #23B846;
   background: -webkit-gradient(linear, left top, left bottom, from(#67BB71), to(#3FA14A));
	background: -moz-linear-gradient(top,  #67BB71,  #3FA14A);
   color: #FFFFFF;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
   text-shadow: 2px 2px 3px #010302;
}

nav ul li:hover a, nav li:hover li a {
    background: none;
    border: none;
    color: #666;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
	
form {
	float: right;
	position:  relative;
}

article {
    width: 80%;
    float: right;
    padding: 0px 10px 0px 10px;
}

h1 {
    font-family: arial, helvetica, sans-serif;
    color: #268B44;
    margin-top: 130px;
    text-align: center;
    padding: 0px 0px 0px 6px;
}

hr {
	   width: 100%;
    clear: both;
}

#menu-bar { 
    width: 95%; 
    margin: 0px 0px 0px 2px; 
    padding: 6px 40px 4px 8px; 
    height: 120px; 
    line-height: 100%; 
    border-radius: 0px 60px 60px 0px; 
    -webkit-border-radius: 24px; 
    -moz-border-radius: 24px;
    box-shadow: 2px 2px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    background: #268B44;
    border: solid 1px #268B44;
    position: fixed;
    top: 0px;
    z-index:0; 
    background-image: url("../images/logo.png");
    background-repeat: no-repeat; 
} 

#menu-bar li { 
    margin: 90px 0px 6px 0px;
    padding: 0px 2px 0px 2px;
    float: right;
    position: relative;
    list-style: none; 
} 

#menu-bar a {
    font-weight: bold;
    font-family: arial;
    font-style: normal;
    font-size: 12px;
    color: #E7E5E5;
    text-decoration: none;
    display: block;
    padding: 6px 20px 6px 20px;
    margin: 0;
    margin-bottom: 6px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-shadow: 2px 2px 3px #000000; 
} 

#menu-bar li ul li a {
    margin: 0; 
}

#menu-bar .active a, #menu-bar li:hover > a {
    background: #23B846;
    background: -webkit-gradient(linear, left top, left bottom, from(#67BB71), to(#3FA14A));
	 background: -moz-linear-gradient(top,  #67BB71,  #3FA14A);
    color: #FFFFFF;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 2px 2px 3px #010302; 
} 

#menu-bar ul li:hover a, #menu-bar li:hover li a {
    background: none;
    border: none;
    color: #666;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#menu-bar ul a:hover { 
    background: #23B846 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#67BB71), to(#3FA14A)) !important;
	 background: -moz-linear-gradient(top,  #67BB71,  #3FA14A) !important;
    color: #FFFFFF !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    text-shadow: 2px 2px 3px #000000; 
}

#menu-bar ul {
    background: #268B44;
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    border: solid 1px #268B44;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
   -webkit-box-shadow: 2px 2px 3px #222222;
    -moz-box-shadow: 2px 2px 3px #222222;
    box-shadow: 2px 2px 3px #222222; 
}

#menu-bar li:hover > ul {
    display: block; 
}

#menu-bar ul li {
    float: none;
    margin: 0;
    padding: 0;  
}

#menu-bar ul a {
    padding:10px 0px 10px 15px;
    color:#E7E5E5 !important;
    font-size:12px;
    font-style:normal;
    font-family:arial;
    font-weight: normal;
    text-shadow: 2px 2px 3px #000000; 
}

#menu-bar ul li:first-child > a {
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px; 
} 

#menu-bar ul li:last-child > a {
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px; 
}

#menu-bar:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; 
} 

#menu-bar {
    display: inline-block; 
} 

html[xmlns] #menu-bar {
    display: block; 
}

* html #menu-bar {
    height: 1%; 
}

#tfheader{
		/*background-color:#268B44;*/
		float: right;
}
	
#tfnewsearch{
	float:right;
	margin-top: 35px;
	padding: 0px;
}
	
.tftextinput{
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #268B44; border-right:0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	opacity: .7;
}
	
.tfbutton {
	margin: 0;
	padding: 5px 15px;
	font-weight: bold;
   font-family: arial;
   font-style: normal;
   font-size: 12px;
   text-shadow: 2px 2px 3px #000000;
   color: #E7E5E5;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: solid 1px #268B44; border-right:0px;
	background: #43FA14A;
	background: -webkit-gradient(linear, left top, left bottom, from(#67BB71), to(#3FA14A));
	background: -moz-linear-gradient(top,  #67BB71,  #3FA14A);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
	
.tfbutton:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#3E8346), to(#05550E));
	background: -moz-linear-gradient(top,  #3E8346,  #05550E);
}
	
/* Fixes submit button height problem in Firefox */
.tfbutton::-moz-focus-inner {
  border: 0;
}
	
.tfclear{
	clear:both;
}








