/*
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/


/* Documentation Styles
================================================== */
	div.container {
		padding-top: 60px; }

	/* navigation */
	nav {
		position: relative;
		width: 160px;
		margin: 50px 10px; }
	nav ul {
		float: left; }
	nav ul li {
		display: inline-block;
		margin: 10px 5px 10px 5px; }
	nav ul li a,
	nav ul li a:visited,
	nav ul li a:active  {
		font-size: 20px;
		text-decoration: none; }
	nav ul li a:hover,
	nav ul li a:focus {
		color: #268B44; }
	header h1 {
		font-size: 52px;
		line-height: 61px;
		letter-spacing: -1px;
		font-weight: normal;
		font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif; }
	#headerImage {
		margin-bottom: 20px; }
	
	/* Main content */
	#sectionHead img {
		display: block;
		margin: 10px auto; }
	
	hr.large {
		border: none;
		height: 8px;
		background: #A8CDA8;
		margin: 50px 0; }
		
	#about {
		background: #46895A; }
	#about h2, #about p {
		color: whitesmoke;
		margin: 10px 5px; }
		
	/* footer */
	footer {
		width: 100%;
		background-color: #46895A;
		color: whitesmoke; }
	footer img, footer p {
		margin: 15px 0px 5px 15px; }
	footer p {
		float: right;
		margin-right: 15px; }
	footer img {
		float: left; }
	
	.resize {
		position: fixed;
		bottom: 0;
		right: 0;
		height: 80px;
		width: 80px;
		background: url(images/resize.png); }


	img {
		max-width: 100%;
		height: auto; }

	.gist-meta { display: none !important;}

	ul ul ul li { margin-bottom: 3px; }

	.twitter-share-button { margin-bottom: -18px; }


	/* Mobile */
	@media only screen and (max-width: 767px) {
		header h1 { font-size: 34px; line-height: 37px; }
		nav { position: relative; }
		nav ul li {
				display: block;
		}
	}

	/* Mobile Landscape */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		nav ul li {
			display: block;
		}
	}

	/* Non 960 */
	@media only screen and (max-width: 959px) {
		nav .button {
			padding: 9px 20px 11px; }
	}

	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		nav {
			width: 124px; }
	}

	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}


	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 959px) and (max-device-width: 1000px) {}

	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}

	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}

	/* Anything smaller than standard 960 on a device */
	@media only screen and (max-width: 959px) and (max-device-width: 1000px) {
		.resize { display: none; }
	}
